html {
    background-color:rosybrown;
}

body {
    margin: 0 auto;
    max-width: 700px;
    padding: 20px;
    background-color: azure;
    box-shadow: 0 0 15px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rosybrown;
}

h1 {
    text-align: center;
    color:rgb(97, 204, 236);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
}

.form-container{
    padding: 10px;
    width: 80%;
    margin: 25px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgb(97, 204, 236);
    border: 1px solid rgb(255, 255, 255);
}

input, textarea, select, form p {
    display: block;
    margin: 10px auto;
    width: 85%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

[data-id] {
    padding: 5px;
    color:rgb(43, 159, 226);
    background-color: cornsilk;
    height: 100%;
}

#item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}
